.wrapper {
  position:relative;
  min-height:100%;

  &.is-wiki {
    background:#fff;
  }
}

.container {
  @extend .clearfix;
  width:$container-width-md;
  margin-right:auto;
  margin-left:auto;
  padding-right:0;
  padding-left:0;

  @include mq-large {
    width:$container-width-lg;
  }

  @include mq-small {
    width:auto;
    padding-right:$screen-padding-sm;
    padding-left:$screen-padding-sm;
  }
}

.contents {
  padding-top:$header-height;
  padding-bottom:$footer-height + ($margin-base * 2);

  @include mq-small {
    padding-bottom:$footer-height-sm + ($margin-base * 2);
  }
}