$gray-base:#000;
$gray-lighter:lighten($gray-base, 90%);
$gray-light:lighten($gray-base, 70%);
$gray:lighten($gray-base, 30%);
$gray-darker:lighten($gray-base, 20%);
$gray-dark:lighten($gray-base, 10%);

$color-blue-gray:#607d8b;
$color-blue:#2196f3;
$color-cyan:#00bcd4;
$color-green:#4caf50;
$color-red:#f44336;
$color-teal:#009688;
$color-yellow:#ffeb3b;

$selection-bg-color:$color-yellow;

$depth-1:0 1px 3px rgba(0, 0, 0, .2);
$depth-2:0 3px 5px rgba(0, 0, 0, .2);
$depth-3:0 5px 8px rgba(0, 0, 0, .4);
$depth-4:0 6px 8px rgba(0, 0, 0, .4);
$depth-5:0 8px 10px rgba(0, 0, 0, .4);

$fonts-path:"../fonts";
$font-serif:"Bitter",Georgia,Cambria,"Times New Roman","ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",Times,serif;
$font-sans-serif:"ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic ProN","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size-base:20px;
$font-size-base-lg:$font-size-base;
$font-size-base-sm:16px;
$font-size-x-sm:.65rem;
$font-size-sm:.8rem;
$font-size-md:1rem;
$font-size-lg:1.8rem;
$font-size-x-lg:2.4rem;
$font-color:darken($color-blue-gray, 10%);

$screen-lg:1100px;
$screen-sm:700px;
$screen-padding-sm:15px;

$margin-base:30px;

$container-width-lg:1000px;
$container-width-md:700px;

$control-height:50px;

$header-height:50px;
$header-height-sm:$header-height;

$footer-height:100px;
$footer-height-sm:60px;