.control {
  width:100%;
  height:$control-height;
  padding:6px 12px;
  line-height:1.4;
  border:1px solid $gray-lighter;
  background-color:#fff;
  
  &:focus {
    background-color:darken(#fff, 1%);
    border-color:$color-cyan;
    box-shadow:0 2px 4px rgba(0, 0, 0, .1) inset;
    outline:none;
  }
}