.page-heading {
  padding:60px 0;
  background:#fff;
  box-shadow:$depth-1;

  @include e(title) {
    margin:0;
    font-size:$font-size-lg;
    text-align:center;
  }
  
  @include mq-small {
    padding:40px 0;
  }
}