.wiki {

  .searchmatch {
    display:inline-block;
    padding:.1em;
    background:lighten($color-yellow, 20%);
    border-radius:2px;
    font-weight:bold;
  }

  @include e(inner) {
    position:relative;
    padding:20px;
    background:#fff;
    border:1px solid $gray-lighter;
    border-radius:2px;
    box-shadow:$depth-2;
  }

  @include e(btn-group) {
    position:absolute;
    top:15px;
    right:15px;
    font-size:0;
    .wiki__btn {
      margin-left:5px;
    }      
  }

  @include e(btn) {
    display:inline-block;
    width:30px;
    height:30px;
    margin:0;
    padding:0;
    background:transparent;
    border:none;
    vertical-align:middle;
    line-height:30px;
    text-align:center;
    color:$gray-light;
    font-size:$font-size-md;
    &:focus {
      outline:none;
    }
    &:hover {
      color:darken($gray-light, 12%);
    }
    @include m(fav) {
      &.is-fav {
        color:darken($color-yellow, 10%);
        &:hover {
          color:darken($color-yellow, 20%);
        }
      }
    }
    @include m(link) {
    }
    @include m(twitter) {
      color:$color-cyan;
      &:hover {
        color:darken($color-cyan, 10%);
      }
    }
    @include m(facebook) {
      color:$color-blue;
      &:hover {
        color:darken($color-blue, 10%);
      }
    }
  }

  @include e(meta) {
    color:$gray-light;
    font-size:$font-size-sm;
    > * {
      display:inline-block;
      margin-right:1em;
    }
  }
  
  @include e(date) {
  }
  
  @include e(size) {
  }

  @include e(words) {
  }
  
  @include e(title) {
    margin:.5em 0;
    font-size:$font-size-lg;
  }

  @include e(excerpt) {
    font-size:$font-size-sm;
  }

  @include mq-small {
    @at-root {
      @include e(inner) {
        padding-bottom:50px;
      }

      @include e(btn-group) {
        top:auto;
        bottom:10px;
      }
    }
  }
}
