.wiki-list {
  .wiki {
    margin-top:2em;
    margin-bottom:2em;
  }

  @include m(card) {
    @extend .clearfix;
    margin-right:-15px;
    margin-left:-15px;
    font-size:0;
    .wiki {
      float:none;
      display:inline-block;
      width:50%;
      margin:0 0 30px 0;
      padding-right:15px;
      padding-left:15px;
      vertical-align:top;
      @include e(inner) {
        height:100%;
        padding-bottom:30px;
      }
      @include e(meta) {
        font-size:$font-size-x-sm;
      }
      @include e(btn-group) {
        top:auto;
        bottom:15px;
      }
      @include e(title) {
        font-size:$font-size-md;
      }
      @include e(excerpt) {
        font-size:$font-size-x-sm;
      }
    }
  }

  @include mq-large {
    @include m(card) {
      .wiki__title {
        font-size:$font-size-lg;
      }
    }
  }

  @include mq-small {
    @include m(card) {
      margin-right:-5px;
      margin-left:-5px;
      .wiki {
        margin:0 0 10px 0;
        padding-right:5px;
        padding-left:5px;
        @include e(inner) {
          padding:10px 10px 30px 10px;
        }
        @include e(btn-group) {
          right:5px;
          bottom:5px;
        }
        @include e(btn) {
          width:25px;
          height:25px;
          font-size:.8rem;
        }
      }
    }
  }
}